## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://www.buaa.edu.cn">
          <img src="${static.url('themes/buaa/images/buaa-logo.png')}" alt="BeiHang University" width="200" height="54"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="http://www.buaa.edu.cn">北航主页</a></li>
          <li class="terms alt"><a href="#">使用条款</a></li>
          <li class="copyright"><a href="#">版权声明</a></li>
        </ul>
        <div class="clear"></div>
        <p class="copyright vcard">&copy; <span class="fn org">北京航空航天大学</span>，<span class="adr">地址：<span class="locality">北京市</span><span class="region">海淀区学院路37号</span> 邮编：<span class="postal-code">100191</span> </span></p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
